/* ======================================================
   Global Styles
   ====================================================== */

/* 08/13/2026 - MQ - Revise the style on the buttons of the Main scene */
/* blue button style on scene load */
.blue-button {
  -fx-background-color: #146a9b;
  -fx-text-fill: white;
  -fx-font-weight: bold;
  -fx-pref-width: 150px;
}

/* blue button style on hover */
.blue-button:hover {
  -fx-background-color: #1b85c3;
  -fx-effect: dropshadow(three-pass-box, rgba(20, 106, 155, 0.6), 10, 0, 0, 4);
  -fx-scale-x: 1.03;
  -fx-scale-y: 1.03;
}

/* blue button style occurs when button is pressed */
.blue-button:pressed {
  -fx-background-color: #0e4c70;
  -fx-scale-x: 0.98;
  -fx-scale-y: 0.98;
}

/* ======================================================
   Login Module Styles
   ====================================================== */

/* 08/13/2026 - MQ - Implement Reset Password - Add Reset Password Button style */
.password-reset-button {
  -fx-background-color: #146a9b;
  -fx-text-fill: white;
}

/* ======================================================
   Shopping Chart Styles
   ====================================================== */


/* ======================================================
   Product Catalog Styles
   ====================================================== */