/* ======================================================
   Global Styles
   ====================================================== */

/* styles.css */
.admin-button {
  -fx-background-color: #146a9b;
  -fx-text-fill: white;
  -fx-font-weight: bold;
}

/* ======================================================
   Login Module Styles
   ====================================================== */


/* ======================================================
   Shopping Chart Styles
   ====================================================== */


/* ======================================================
   Product Catalog Styles
   ====================================================== */